<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <div>
        <div>
            <!--this div makes sure the pace of the page works with out it no work-->
            <div class=" navigationBar ">
                <div class=" logoAndText ">
                    <!--this will be the title and loggo-->
                    <div class=" logo "></div>
                    <label>Snowy Owl</label>
                </div>

                <nav class=" navigation ">
                    <!--this will be navigation to account sign out and a few other stuff-->
                    <a href="/account" class="navElement">Account</a>
                    <a href="/" class="navElement">Logout</a>
                    <a href="/gallery" class="navElement">Gallery</a>
                    <a href="/friends" class="navElement">Friends</a>
                    <a href="/shared" class="navElement">Shared</a>
                </nav>
            </div>
        </div>

        <div id="bodyOfHome" class="flex-center-column bodyOfPage">
            <!--this will be the rest of the page conternt-->
            
            <div id="notificationGroup" class=" notificationGroup ">
                 <!--this will be notifications-->
            </div>
        </div>
    </div>
    <script src="home.js"></script>
</body>

</html>