<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/login.css">
</head>

<body>
    <form action="" class="container flex-center-column">

        <div class="flex-center-column">
            <!--this will be the title and loggo-->
            <h1>Login</h1>
        </div>

        <div class="flex-center-column textbox-container">
            <!--this will be email field-->
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required class="textbox">
        </div>

        <div class="flex-center-column textbox-container">
            <!--this will be password fiels-->
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass" required class="textbox">
        </div>

        <div class="flex-center-column textbox-container">
            <!--this will be used for error messages-->
        </div>

        <div class="flex-center-column">
            <!--this will be submit button-->
            <!--if inpout is correct and validated navigate user to home page else error meassage-->
            <button class="btn">Login</button>
        </div>

        <nav class="flex-center-column nav">
            <!--this will be navigation to sign up page-->
            <a href="./signup.html" class="flex-center-column nav">Sign Up</a>
        </nav>
    </form>

</body>

</html>